@import '../../settings';

.#{$rkc-prefix}-expand-content {
  height: 0;
  overflow: hidden;

  &_default_active {
    height: auto;
  }

  &__content {
    visibility: hidden;

    &_default_active {
      visibility: visible;
    }
  }
}