@import '../../settings';

.#{$rkc-prefix}-marquee {
  display: block;
  width: 100%;

  &__container {
    display: block;
    width: 100%;
  
    .node-marquee__el {
      display: inline-flex !important;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}