@import '../../settings';

.#{$rkc-prefix}-lazy-video {
  &.#{$rkc-prefix}-has-alpha {
    transition: opacity 0.35s ease-in;
    opacity: 0;

    &.#{$rkc-prefix}-is-loaded {
      opacity: 1;
    }
  }

  &.#{$rkc-prefix}-cover,
  &.#{$rkc-prefix}-contain,
  &.#{$rkc-prefix}-fullabs {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.#{$rkc-prefix}-cover {
    video {
      object-fit: cover;
    }
  }

  &.#{$rkc-prefix}-contain {
    video {
      object-fit: contain;
    }
  }
}